@model IEnumerable<Dota2Stat.Models.DB.Tournament>

@{
    ViewData["Title"] = "Index";
}

<h1>Tournaments</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Tier
            </th>
            <th>
                Prize
            </th>
            <th>
                Place
            </th>
            <th>
                Start Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrTier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrPrize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrPlace)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrStartDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
